<%- include('../partials/header') %>
    <div class="container">
        <h1> Start Your New Campaign</h1>
    </div>
    <div class="container-sm">
        <div class="mb-3">
            <form action="/campaigns" method="POST">
                <label class="form-label">Campain Title:</label>
                <input class="form-control" type="text" name="titleName" required><br>
                <label class="form-label">Characters:</label>
                <input class="form-control" type="text" name="characterNames"><br>
                <label class="form-label">Setting:</label>
                <input class="form-control" type="text" name="setting"><br>
                <label class="form-label" class="form-label">Starting Items:</label>
                <input class="form-control" type="text" name="equipAndGold"><br>
                <label class="form-label" class="form-label">Description:</label>
                <textarea class="form-control" type="text" style="height: 200px" name="description"></textarea><br>
                <label class="form-label">pick a picture</label><br>
                <input type="radio" name="picture" value="https://i.imgur.com/1F1qXRe.jpeg" required>
                <label><img src='https://i.imgur.com/1F1qXRe.jpeg' style="width:100px; height:100px"></label>
                <input type="radio" name="picture" value="https://i.imgur.com/HFa1XTT.jpeg">
                <label><img src='https://i.imgur.com/HFa1XTT.jpeg' style="width:100px; height:100px"></label>
                <input type="radio" name="picture" value="https://i.imgur.com/dCYYfR4.jpeg">
                <label><img src='https://i.imgur.com/dCYYfR4.jpeg' style="width:100px; height:100px"></label>
                <input type="radio" name="picture" value="https://i.imgur.com/SffgEb3.jpeg">
                <label><img src='https://i.imgur.com/SffgEb3.jpeg' style="width:100px; height:100px"></label>
                <input class='btn btn-secondary' type="submit">
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>